*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.cl1{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(30, 15, 42, 0.7), rgba(30, 15, 42, 0.7)), url(image/vintage\ disquette.jfif);
    background-position: center;
    background-size: cover;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
}
.logo{
    width: 60px;
}
.cl3{
    height: 88%;
    align-items:center ;
    text-align: center;
    vertical-align: middle;
    margin-top: 20vh;
    


}
.minicl1{
    flex-basis: 50%;
}
h1{
    color:#fff;
    font-size:80px;
    line-height: 150px;
    font-weight: bolder;
    text-shadow: 0 0 0.5em #22064d, 0 0 0.5em rgb(44, 37, 86), 0 0 0.5em #87f 

    
}
h2{
    color:#000;
    text-shadow :0 0 0.5em #F1B8C9, 0 0 0.5em #9772e0,0 0 0.5em #9772e0;
    line-height:50px;
    font-size:30px;
    margin-top:40px;
    font-weight:bold;
    text-decoration:underline;
    
}
.h2{
    margin-top:40px;
}
.p1{
    color:#fff;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:40px;
    text-align:center;
    text-shadow: 0 0 0.5em #22064d, 0 0 0.5em rgb(44, 37, 86), 0 0 0.5em #87f 
}
.p1::first-letter{
    color:#fff;
}
p{
    color:#000;
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom:50px;
    text-align: left; 
    margin-left:0px;
    
}
a:visited{text-decoration: underline;}
button{
    width:170px;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    padding:12px 0;
    background:rgba(31, 12, 46, 0.695);
    border:0;
    border-radius:20px;
    cursor:pointer;
    outline:none;
    margin-top:30px;
    margin-bottom:170px;
}
.pf{
    margin-bottom:50px;
}
b{
    color:#352886
}
p::first-letter{
    color:#482272;
    font-weight:bold;
    font-size:26px;
}