*{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}
html{
    height:100%
}
body{
    min-height:100%;
    display: grid;
    grid: auto ;
}
.cl1{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/background101.jpg);
    background-position: center;
    background-size: cover;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.cl3{
    height: 88%;
    align-items:center ;
    text-align: center;
    vertical-align: middle;
    margin-top: 20vh;
    


}
.minicl1{
    flex-basis: 50%;
}
h1{
    color:#fff;
    font-size:100px;
    line-height: 150px;
    font-weight: bolder;
    margin-bottom:20px;
    text-shadow: 0 0 0.5em #dc0a0a, 0 0 0.5em #87f, 0 0 0.5em #87f

    
}
p{
    color:#fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom:5px;
    text-shadow: 0 0 0.5em #22064d, 0 0 0.5em #87f, 0 0 0.5em #87f 
}
a:visited{text-decoration: underline;}
button{
    width:170px;
    color:#000;
    font-size:12px;
    font-weight:bold;
    padding:12px 0;
    background:#fff;
    border:0;
    border-radius:20px;
    cursor:pointer;
    outline:none;
    margin-top:40px;
    margin-bottom: 205px;
}
.minicl2{
    width:200px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 12px 17px;
    background-image: url(image/pop\ simpson.jfif);
    background-position: center;
    background-size: cover;
}
.cl00{
    text-align: center;
    background-image: url(image/pop\ simpson.jfif);
    background-size:cover;
    background-position: center;
}
.cl01{
    background-image: url(image/neonrock.jfif);
    background-size:cover;
    background-position: center;
}
.cl02{
    background-image: url(image/eminem\ rapin.jfif);
    background-size:cover;
    background-position: center;
}
.cl03{
    background-image: url(image/clmusic.png);
    background-size:cover;
    background-position: center;
}
.cl04{
    background-image: url(image/gnaoua.jfif);
    background-size:cover;
    background-position: center;
}
h5{
    color:#fff;
    text-decoration: underline;
    text-shadow:  0 0 0.8em #22064d,  0 0 0.8em #87f;
}

/*------pied-----*/

footer{
    bottom: 0;
    width: 100%;
    height: auto;
    color:#000;
    line-height: 20px;
    text-align:center;
    padding: 3em;
    margin-top: auto;
    box-sizing: border-box;
    
   
}
.a1{
    color:#000;
}
h4{
    text-decoration: underline;
    text-shadow: 0 0 0.5em #715f8d, 0 0 0.5em #87f;
} 
.ppp{
    color:#000;
    font-weight: bold;
    font-size:14px;
    text-shadow: none;
    
}  




